<div class="container">
  Put Banner with Call to action here
  <!-- lt + tab -->
  <!-- link_to 'text to display', prefix_path -->
  <p><%= link_to 'About', about_path, class: 'btn btn-light' %></p>
  <p><%= link_to 'Contact', contact_path, class: 'btn btn-light'  %></p>
  <!-- er + tab => Doesnt display in the browser -->
  <%# Time.now %>
  <!-- pe + tab => Displays in the browser -->
  <%#= Time.now %>
</div>
